extends ./default/index.pug

block vars
	-	var pageTitle = '- Home'
	-	var bodyClass = 'home'

block content
	header.header
		.container
			button(type="button" id="btn-menu" class="js-open-menu btn-menu")
				i.fa.fa-bars
			nav.menu.menu-mobile
				button(type="button" id="btn-close-menu" class="js-close-menu")
					i.fa.fa-times
				ul
					li
						a Home
					li
						a Sobre
					li.has-submenu
						a Serviços
						ul.submenu
							li
								a Sub1
							li
								a Sub2
							li 
								a Sub3
					li
						a Trabalhe Conosco
					li 
						a Contato

			nav.menu.menu-desktop
				ul
					li 
						a Home
					li 
						a Sobre
					li.has-submenu 
						a Serviços
						ul.submenu
							li 
								a Sub1
							li 
								a Sub2
							li 
								a Sub3
			.logo
				img(src="http://via.placeholder.com/100x100")/
			nav.menu.menu-aside.menu-desktop
				ul
					li 
						a(href="trabalhe-conosco.html") Trabalhe Conosco
					li 
						a(href="#") Contato
	.banner
		.banner__tv.js-slide
			div
				img(src="http://via.placeholder.com/1280x500")/
			div
				img(src="http://via.placeholder.com/1280x500")/
			div
				img(src="http://via.placeholder.com/1280x500")/

	//- Parallax
	.rellax
		section.thumbs
			.container.grid.grid--center.grid--column
				figure.thumbs__figure
					img(src="http://via.placeholder.com/200x200")/
					span hover #000
				figure.thumbs__figure
					img(src="http://via.placeholder.com/200x200")/
					span hover #000
				figure.thumbs__figure 
					img(src="http://via.placeholder.com/200x200")/
					span hover #000
				figure.thumbs__figure
					img(src="http://via.placeholder.com/200x200")/
					span hover #000
		section.notice
			.container.grid.grid--evenly.grid--column
				figure.notice__figure
					img(src="http://via.placeholder.com/400x400")/
				p.notice__text
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar est eu turpis volutpat, in lobortis eros volutpat. Nunc maximus mi sed orci rutrum cursus. Phasellus pretium vitae metus eu convallis. Sed at mauris elementum, vehicula ex vitae, maximus est. Sed nec consectetur mi. Pellentesque fermentum leo turpis, at ornare massa tempor nec.




block scripts
