.grid {
	display: flex;
	align-content: center;

	&--center  {
		justify-content: center;
	}

	&--evenly {
		justify-content: space-evenly;
	}

	&--column {
		@media only screen and (max-width: 767px) {
			flex-flow: column;
		}
	}
}
